aside {
    position: relative;
    width: 308px;
    height: 730px;
    left: 0px;
    top: 3px;
    background: #FEFEFE;
}
.home {
    position: absolute;
    width: 268px;
    height: 336px;
    top: 43px;
    left: 18px;
}
.home h2 {
    position: relative;
    left: 0px;
    top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 31px;
    color: #373867;
    border-bottom: 4px solid #AACE9B;
    width: 82px;
    height: 60px;
}
.home ul {
    position: relative;
    width: 268px;
    height: 214px;
    left: 0px;
    top: 62px;
    bottom: 48%;
}
.home li {
    margin-top: 40px;
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #C4C4C4;
    height: 20px;
}
.getin {
    position: absolute;
    width: 268px;
    height: 336px;
    top: 399px;
    left: 18px;
}
@media (min-width:1440px) {
    aside { 
        display: contents;
    }  
}