.hello {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
}
h2 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 16px;
}
h3 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 26px;
}
.p-hello {
    font-size: 15px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 26px;
}
.hello-description {
    width: 400px;
}
.hello-description button {
    width: 160px;
    height: 46px;
    margin-bottom: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    color: #AACE9B
}
.features h3 {
    text-align: center;
}
.image-container {
    overflow:hidden;
    width:94px;
    height:95px;
    margin:30px;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
}
.image-container img {
    top:-100px;
    left:-100px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
}
.features-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
}
.features-item p {
    margin-top: auto;
}
.features-description {
    width: 53%;
    margin-left: 12px;
}
.why h3 {
    text-align: center;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.columns-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    width: 375px;
}
.columns-block img {
    width: 400px;
    height: 300px;
}
.columns-description {
    margin-top: 15px;
}
.columns-description p {
    margin-top: 10px;
}
.contact h3 {
    text-decoration-line: underline;
    text-align: center;
}
.box {
    width: 100%;
    color: #373867;
}
.complit-dates {
    margin-top: 20px;
}
.massagge-box {
    width: 100%;
    height: 110px;
    margin-top: 20px;
}
.bottons {
    display: flex;
    justify-content: space-between;
}
.contact button {
    width: 200px;
    height: 47px;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background: #AACE9B;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    color: #373867;
}
.history h4 {
    margin-bottom: 20px;
    margin-top: 22px;
}
.history img {
    width: 364px;
    height: 210px;
    margin-bottom: 26px;
}
.moments {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.moments p {
    width: 364px;
}