<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="/styles/reset.css"/>
        <link rel="stylesheet" href="/styles/style.css"/>
        <link rel="stylesheet" href="/styles/header.css"/>
        <link rel="stylesheet" href="/styles/login.css"/>
        <link rel="stylesheet" href="/styles/aside.css"/>
        <link rel="stylesheet" href="/styles/footer.css"/>
    </head>
    <body>
        <header>
            <div class="container-title">
                <div class="hambur">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div id="trackgenix">
                    <h1>Trackgenix</h1>
                </div>
            </div>
            <nav>
                <ul class="social-red">
                    <li class="icon">
                        <a href="#">
                            <img src="/assets/icons/linkedin.png"/>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#">
                            <img src="/assets/icons/Twitter-logo.png"/>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#">
                            <img src="/assets/icons/Facebook.png"/>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#">
                            <img src="/assets/icons/instagram-logo.png"/>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside>
            <div class="home">
                <h2>Menu</h2>
                <ul>
                    <li>
                        <a href="/views/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/views/sign-up.html">Sign Up</a>
                    </li>
                    <li>
                        <a href="/views/login.html">Login</a>
                    </li>
                </ul>
            </div>
            <div class="getin">
                <h2>Get in touch</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled 
                    it to make a type specimen book.
                </p>
                <ul>
                    <li>
                        <p><a href="mailto:informacion@gmail.com" class="mail">informacion@gmail.com</a></p>
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    </li>
                    <li>
                        <p class="phone">
                            (0341) 123-4567
                        </p>
                        <a href="#"><i class="fa-solid fa-phone"></i></i></a>
                    </li>
                    <li>
                        <p class="location">
                            Mendoza 1234, Rosario, Argentina
                        </p>
                        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                    </li>
                </ul>
            </div>
        </aside>
        <main>
            
        </main>
        <footer>
            <div class="footer-a">
                <a href="#">
                    <img src="/assets/icons/linkedin.png" width="30"/>
                </a>
                <a href="#">
                    <img src="/assets/icons/Twitter-logo.png" width="30"/>
                </a>
                <a href="#">
                    <img src="/assets/icons/Facebook.png" width="30"/>
                </a>
                <a href="#">
                    <img src="/assets/icons/instagram-logo.png" width="30"/>
                </a>
            </div>
            <p class="location">Rosario, Argentina</p>
            <p class="copyright">Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </footer>
    </body>
</html>