header {
    position: absolute;
    width: 1110px;
    height: 110px;
    left: 320px;
    top: 11px;
}
h1 {
    position: absolute;
    left: calc(50% - 199px/2 - 391.5px);
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}
.social-red {
    position: absolute;
    width: 189px;
    height: 32px;
    left: 920px;
    top: 70px;
}   