header {
    position: absolute;
    width: 1110px;
    height: 110px;
    left: 320px;
    top: 11px;
}

h1 {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: calc(50% - 199px/2 - 391px);
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}
.social-red {
    position: absolute;
    width: 189px;
    height: 32px;
    left: 920px;
    margin-top: 11px;
}   
.icon {
    display: inline-block;
}
aside {
    position: relative;
    width: 308px;
    height: 730px;
    left: 0px;
    top: 3px;
    background: #FEFEFE;
}
.menu {
    position: relative;
    left: 6.17%;
    right: 67.53%;
    top: 5.89%;
    bottom: 87.26%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: #373867;
}
.touch {
    position: absolute;
    left: 5.76%;
    right: 38.25%;
    top: 54.66%;
    bottom: 39.91%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: #373867;
}
.home {
    position: absolute;
    left: 6.08%;
    right: 6.91%;
    top: 22.63%;
    bottom: 48.05%;
}
.p-touch {
    position: absolute;
    left: 5.84%;
    right: 7.47%;
    top: 66.16%;
    bottom: 18.77%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #373867;
}
.mail {
    position: absolute;
    left: 22.11%;
    right: 31.73%;
    top: 83.47%;
    bottom: 13.51%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #373867;
}
.phone {
    position: absolute;
    left: 22.11%;
    right: 31.73%;
    top: 90.21%;
    bottom: 6.77%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #373867;
}
.ubication {
    position: absolute;
    left: 22.11%;
    right: 11.36%;
    top: 96.83%;
    bottom: 0.15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #373867;
}
.hello {
    position: absolute;
    width: 1110px;
    height: 372px;
    left: 320px;
    top: 153px;
}
.hello h2 {
    position: absolute;
    width: 476px;
    height: 104px;
    left: 0px;
    top: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #373867;
}
.hello h3 {
    position: absolute;
    width: 453px;
    height: 23px;
    left: 0px;
    top: 135px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.hello p {
    position: absolute;
    width: 378px;
    height: 120px;
    left: 0px;
    top: 174px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #373867; 
    }
.hello img {
    
    position: absolute;
    width: 570px;
    height: 372px;
    left: 540px;
    top: 0px;
}
.hello button {
    position: absolute;
    left: 0%;
    right: 85.59%;
    top: 87.63%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 0%;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
    color: #AACE9B
} 
.features {
    position: absolute;
    width: 1110px;
    height: 378px;
    left: 320px;
    top: 589px;
}
.features h3 {
    position: relative;
    width: 78px;
    height: 23px;
    left: 0px;
    top: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;

}
.features h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #373867;
}
.features p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #373867;
}
.features-list {
    position: relative;
    display: inline-block;
}
.features-item {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 200px;
}
.why {
    position: absolute;
    width: 1110px;
    height: 442px;
    left: 320px;
    top: 1048px;
}
.why h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.why h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.why p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #373867;
}
.contact {
    position: absolute;
    width: 1110px;
    height: 432px;
    left: 320px;
    top: 1554px;
}
.contact h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.history {
    position: absolute;
    width: 1110px;
    height: 567px;
    left: 320px;
    top: 2056px;
}
.history h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.history h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.history p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #373867;
}
.options {
    position: absolute;
    width: 1110px;
    height: 120px;
    left: 320px;
    top: 2681px;
}